<h1>All users</h1>

<section class="user-container">
<% @user.each do |user| %>
  <%= link_to user_path(user.id) do %>
    <div class="container">
      <div class="image">
        <img src="<%= user.Photo %>" alt="User photo">
      </div>

      <div class="user-img">
        <h1><%= user.Name %><h1>
        <p>Number of posts: <%= user.PostsCounter %> </p>
      </div>
    </div>
<% end %>
<% end %>
</section>